<!DOCTYPE html>
<head>
  <meta charset=="utf-8">

  <title>Angry Share</title>

  <!-- Custom Fonts -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"> -->

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.css') }}"> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <!-- <script src="/js/build/build.js?v=6"></script> -->
  <!-- <script src="https://raw.githubusercontent.com/enyo/dropzone/master/dist/dropzone.js"></script> -->
  <script src="{{ url_for('static', filename='dropzone.js') }}"></script>

  <script>
    //var Dropzone = require("enyo-dropzone");
    Dropzone.autoDiscover = false;
  </script>

  <style>
    html, body {
      height: 100%;
      color: #ff8000;
    }

    #pathurl {
        color: #ff4000; 
    }

    #pathurl:hover {
        color: #ff8000;
    }

    a {
      color: #333333;
    }

    a:hover {
      color: #ff4000;
    }

    #as-nav {
        background-color: #ff4000;
        color: #ffffff;
    } 

    .file-options {
        display: none;
    }

    /* Mimic table appearance */
    div.table {
      display: table;
    }
    div.table .file-row {
      display: table-row;
    }
    div.table .file-row > div {
      display: table-cell;
      vertical-align: top;
      border-top: 1px solid #ddd;
      padding: 8px;
    }
    div.table .file-row:nth-child(odd) {
      background: #f9f9f9;
    }

    /* The total progress gets shown by event listeners */
    #total-progress {
      opacity: 0;
      transition: opacity 0.3s linear;
    }

    /* Hide the progress bar when finished */
    #previews .file-row.dz-success .progress {
      opacity: 0;
      transition: opacity 0.3s linear;
    }

    /* Hide the delete button initially */
    #previews .file-row .delete {
      display: none;
    }

    /* Hide the start and cancel buttons and show the delete button */

    #previews .file-row.dz-success .start,
    #previews .file-row.dz-success .cancel {
      display: none;
    }
    #previews .file-row.dz-success .delete {
      display: block;
    }

  </style>
</head>

<body> <!-- BODY -->

<nav class="nav nav-pills">
  <div class="container-fluid" id="as-nav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#actions" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Brand -->
      <span>
        <img src="{{url_for('static',filename='fav-96-wshw.png')}}"
            style="width: 50px;" />
        <span style="display: inline-block; vertical-align: middle; float:
            none;"><span style="text-shadow: 1px 1px #000000;"><b>Angry
            Share</b></span><br><small>&nbsp; @{{hostname}}</small></span>
      </span>

    </div>

    <div class="collapse navbar-collapse pull-right" id="actions">
        <button type="button" class="btn btn-default navbar-btn fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span></button>
        <button type="submit" class="btn btn-default start navbar-btn">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-default cancel navbar-btn">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel upload</span>
        </button>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- most of the page content -->
<div class="container" id="container">

<!-- directory path navigation -->
<h2>
{% for path,url in pathlist %}<a id="pathurl" href="{{url}}">{{path}}</a>{% endfor %}
</h2> 

<!-- listing and linking the files in each dir-->
<table class="table table-hover">
    {% for filename,url,style,date,id in dirlinks %}
    <tr>
        {% if style %} <!-- directories -->

            <td><!-- directory icon, name and url -->
                <i class="fa fa-angle-double-right"></i>&nbsp;<a
                    class="list-group-item-dodo" href="{{url}}">{{filename}}</a>
            </td>

            <td><!-- creation date -->
                <span class="text-right" style="float: right;">{{date}}</span>
            </td>

            <td><!-- tools -->
                <button type="button" id="{{id}}" class="btn btn-danger btn-xs
                    file-options">Delete</button>
            </td>

        {% else %} <!-- files -->

            <td><!-- file icon, name and url -->
                <i class="fa fa-file-o"></i>&nbsp;<a
                    class="list-group-item-dodo" href="{{url}}">{{filename}}</a>
            </td>

            <td><!-- upload date -->
                <span class="text-right" style="float: right;">{{date}}</span>
            </td>

            <td><!-- tools -->
                <button type="button" id="{{id}}" class="btn btn-danger btn-xs
                    file-options">Delete</button>
            </td>

        {% endif %}

        <!-- toggle tool buttons -->
        <td><!-- tools toggle -->
            <button type="button" id="{{id}}_btn" class="btn btn-default btn-xs" >...</button>
        </td>
        <script>
            $('#{{id}}_btn').on('click', function () {$('#{{id}}').toggle()});
        </script>

    </tr>
    {% endfor %}
</table>

    <!-- upload total progress -->
    <div class="row">

      <div class="col-lg-5">
        <!-- The global file processing state -->
        <span class="fileupload-process">
          <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
          </div>
        </span>
      </div>

    </div>

    <!-- preview panel -->
    <div class="table table-striped files" id="previews">

      <div id="template" class="file-row">
        <!-- This is used as the file preview template -->
        <div>
            <span class="preview"><img data-dz-thumbnail /></span>
        </div>
        <div>
            <p class="name" data-dz-name></p>
            <strong class="error text-danger" data-dz-errormessage></strong>
        </div>
        <div>
            <p class="size" data-dz-size></p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
              <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
            </div>
        </div>
        <div>
          <button class="btn btn-primary start">
              <i class="glyphicon glyphicon-upload"></i>
              <span>Start</span>
          </button>
          <button data-dz-remove class="btn btn-warning cancel">
              <i class="glyphicon glyphicon-ban-circle"></i>
              <span>Cancel</span>
          </button>
          <button data-dz-remove class="btn btn-danger delete">
            <i class="glyphicon glyphicon-trash"></i>
            <span>Delete</span>
          </button>
        </div>
      </div>

    </div>

</div> <!-- container -->

    <script>
      // Get the template HTML and remove it from the doument
      var previewNode = document.querySelector("#template");
      previewNode.id = "";
      var previewTemplate = previewNode.parentNode.innerHTML;
      previewNode.parentNode.removeChild(previewNode);

      var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: "#", // Set the url
        thumbnailWidth: 80,
        thumbnailHeight: 80,
        parallelUploads: 20,
        previewTemplate: previewTemplate,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
      });

      myDropzone.on("addedfile", function(file) {
        // Hookup the start button
        file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
      });

      // Update the total progress bar
      myDropzone.on("totaluploadprogress", function(progress) {
        document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
      });

      myDropzone.on("sending", function(file) {
        // Show the total progress bar when upload starts
        document.querySelector("#total-progress").style.opacity = "1";
        // And disable the start button
        file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
      });

      // Hide the total progress bar when nothing's uploading anymore
      // Reload the page to reflect upload changes.
      myDropzone.on("queuecomplete", function(progress) {
        document.querySelector("#total-progress").style.opacity = "0";
        location.reload(true);
      });

      // Setup the buttons for all transfers
      // The "add files" button doesn't need to be setup because the config
      // `clickable` has already been specified.
      document.querySelector("#actions .start").onclick = function() {
        myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
      };
      document.querySelector("#actions .cancel").onclick = function() {
        myDropzone.removeAllFiles(true);
      };
    </script>


</body>
</html>
