<!doctype html>
<title>Angry Share</title>
<xmp theme="united" style="display:none;">

<h1>Upload New File</h1>
<form action="" method=post enctype=multipart/form-data>
<input type=file name=file> <input type=submit value=Upload>
</form>

<hr>

<h2><!-- directory path navigation -->
{% for path,url in pathlist %}<a href="{{url}}">{{path}}</a>{% endfor %}
</h2> 

<p><!-- listing and linking the files in each dir-->
    {% for filename,url,style in dirlinks %}
        {% if style %} <!-- directories -->
            <b><a href="{{url}}">{{filename}}</a></b> <br>
        {% else %} <!-- files -->
            <a href="{{url}}">{{filename}}</a> <br>
        {% endif %}
    {% endfor %}
</p> 

</xmp>
<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>
